.key {
  width: 40px;
  height: 32px;
}

.Backspace {
  width: 120px;
}

.Tab {
  width: 110px;
}

.Enter {
  width: 100px;
}

.CapsLock {
  width: 100px;
}

.ShiftLeft {
  width: 115px;
}

.ShiftRight {
  width: 115px;
}

.CntrlLeft, .WinLeft, .AltLeft, .AltRight, .CntrlRight {
  width: 70px
}

.Space {
  width: 250px;
}

.noVisible {
  display: none;
}